.cabeçalho{
    background-color: rgb(9, 255, 0);
}
.cabeçalho h1{
    color: rgb(238, 231, 231);
    }
    .cabeçalho h1{
        font-style: oblique;
    }
    .cabeçalho h1{
        background-color: rgb(100, 65, 0);
    }
    .paragrafo-ingrid{
        background-color: rgb(192, 50, 145);
        font-weight: 50;
    }
    .caixa h1{
        background-color: rgb(192, 50, 145);
        font-weight: 50;     
    }