.cabeçalho{
    background-color: aqua;
}
.cabeçalho h1{
    color: rgb(238, 231, 231);
    }
    .cabeçalho h1{
        font-style: oblique;
    }
    .cabeçalho h1{
        background-color: rgb(27, 0, 100);
    }
    .paragrafo-ingrid{
        background-color: rgb(247, 66, 53);
        font-weight: 50;
    }